.application-view-container {
    background-color: rgba(144,238,144,1.0);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin: 2rem auto;
    min-height: 80%;
    min-width: 80%;
    max-width: 90%;
    max-height: 90%;
    padding: 1rem;
    justify-content: space-between;
}

.application-view {
    border-radius: 15px;
    background-color: var(--page-background-color);
    color: var(--page-font-color);
    margin-left: 1rem;
    padding: 1rem;
    min-width: 50%;
    max-width: 75%;
    height: 100%;
}

.application-title {
    text-align: center;
    margin-top: 2rem;
    color: var(--page-font-color);
}

.application-sidebar {
    max-width: 50%;
    min-width: 40%;
    background-color: transparent;
    margin: auto 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.application-comment {
    background-color: var(--page-background-color);
    border-radius: 15px;
    max-height: 25%;
    padding: 1rem;
    max-width: 100%;
}

.application-control-buttons {
    background-color: var(--page-background-color);
    border-radius: 15px;
    max-height: 15%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 0.5rem 1rem;
}

.application-control-buttons button {
    max-width: 10%;
    max-height: 10%;
    padding: 0.5rem 1rem;
}

.application-control-buttons img {
    cursor: pointer;
    filter: invert(1);
    width: 100%;
    height: 100%;
}

.application-nav-button {
    background-color: rgba(0,0,0,0.15);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
}
.application-nav-button:hover {
    background-color: rgba(255,255,255,0.1);
}

.application-nav-button img {
  max-width: 100%;
  max-height: 100%;
  filter: invert(1);
}

.posted-app-comment {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: rgba(255,255,255,0.15);
    border-radius: 15px;
}

.app-comment-user {
    font-weight: bold;

}

/* original */
.application-title {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1.5rm;
    margin-bottom: 0.5rem;
    background-color: #C9AB81;
    color: var(--page-background-color);
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.application-view {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #1F1F21;

}

@media (min-width: 768px) {
  .application-view {
    flex-direction: row;
  }
}

.user-details {
    width: 100%;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #d1d5db;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                0 4px 6px -4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

@media (min-width: 768px) {
  .user-details {
    width: 33.333333%;
  }
}


.user-headers {
    display: block;
    font-size: 1rem;
    font-weight: 500;
}

.user-content {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.event-details {
    width: 100%;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #d1d5db;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                0 4px 6px -4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

}

@media (min-width: 768px) {
  .event-details {
    width: 66.666666%;
  }
}

.event-headers {
    display: block;
    font-size: 1rem;
    font-weight: 500;
}

.event-content {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}


/* .application-sidebar {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #1F1F21;
} */

.application-sidebar {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #1F1F21;
}

.application-control-buttons form{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #d1d5db;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                0 4px 6px -4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
}

@media (min-width: 768px) {
  .application-control-buttons {
    width: 100%;
  }
}

.application-control-buttons form button {
    flex: 1;
    padding: 0.5rem 1rem; */
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;

    /* cursor: pointer; */
    /* margin-bottom: 1rem; */
}

.application-comment {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #d1d5db;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                0 4px 6px -4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
}

.application-note {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #1F1F21;
}

.btn {
  margin: 5rem;
  padding: 10px;
  border-radius: 15px;
  border-color: #d1d5db;
  border-width: 1px;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.418);
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-action {
  margin: auto;
  padding: 5px;
  border-radius: 15px;
  width: 3.5rem;
}

.btn-action img {
  width: 100%;
  height: 100%;
}

#approve:hover {
  background-color: rgba(0, 150, 30, 0.5);
}

#deny:hover {
  background-color: rgba(200, 0, 0, 0.5);
}

#flag:hover {
  background-color: rgba(255, 120, 42, 0.5);
}

#approve:hover img,
#deny:hover img, 
#flag:hover img {
  filter: invert(0);
}