@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-gray-100 min-h-screen flex flex-col;
	}
	
	h1 {
		@apply text-white md:text-4xl text-2xl font-bold drop-shadow-md /*bg-[#012741]*/ p-2 rounded-xl w-full text-center;
	}

	table {
		@apply table-auto w-full text-gray-700 text-lg border border-2 border-gray-300;
	}

	tr {
		@apply border-b-2 border-gray-300 bg-white hover:bg-gray-100;
	}

	td {
		@apply px-6 py-4;
	}

	thead {
		@apply bg-blue-100;
	}

	th {
		@apply bg-blue-100 text-left px-6 py-4 font-semibold;
	}

	h2 {
		@apply text-2xl font-bold text-gray-800;
	}

	h3 {
		@apply text-xl font-semibold text-gray-800 mt-6;
	}

	main {
		@apply flex-grow flex flex-col items-center justify-start -mt-16 z-10 relative px-4;
	}
	label {
		@apply text-lg block text-blue-900 mb-1 font-semibold;
	}
	/*
	select {
		@apply w-full p-2 border border-gray-300 rounded-md;
	}
	*/
	input:not([type="radio"]), select{
		@apply w-full rounded-md border-2 mb-2 border-gray-300 shadow-xs focus:border-blue-500 focus:ring-blue-500 p-2;
	}
	em {
		@apply text-red-600;
	}

}

@layer components {
	.hero-header {
		@apply bg-[#C9AB81] h-52 w-full bg-center relative z-0;
	}
	.center-header {
		@apply absolute inset-0 flex items-center justify-center; /* bg-opacity-30 removed */
	}
	.main-content-box {
		@apply bg-white border-2 border-gray-300 rounded-xl shadow-lg;
	}
	.delete-button {
		@apply text-white bg-red-600 hover:bg-red-700 px-4 py-2 rounded-lg font-semibold cursor-pointer;
	}
	.blue-button {
		@apply bg-blue-900 text-white px-6 py-2 rounded-lg hover:bg-blue-700 cursor-pointer;
	}
	.return-button {
		@apply bg-gray-500 text-white px-6 py-2 rounded-lg hover:bg-gray-600;
	}
	.info-section {
		@apply mt-10 max-w-4xl text-center text-gray-700;
	}
	.blue-div {
		@apply h-px bg-blue-900 mb-4;
	}
	.info-text {
		@apply text-lg leading-relaxed;
	}
	.sub-text {
		@apply text-blue-700 font-semibold mt-1;
	}
	.error-block {
		@apply text-white bg-red-700 text-center p-2 rounded-lg mb-2;
	}
	.radio-group {
		@apply flex space-x-4;
	}
	.radio-element {
		@apply flex items-center space-x-2;
	}
	
}
